body{
    overflow-x: hidden;
}
.add_employee_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    margin: 20px auto;
    padding: 0 20px;
}

.add_employee_form .input,

.hierarchy_wrapper .search_bar {
    outline: none;
    border: none;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}
.hierarchy_wrapper .search_bar{
    width: 250px;
    margin-bottom: 10px;
}

.add_btn {
    border-radius: 20px;
    background-color: #a2bc;
    outline: none;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.hierarchy_wrapper {
    padding: 20px 20px;
}

.hierarchy_wrapper table {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 10px;
    overflow-x: scroll !important;
}
.hierarchy_wrapper table p{
    padding-left: 10px;
    font-weight: 500;
}

.hierarchy_wrapper table thead tr th,
.hierarchy_wrapper table tbody tr td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.hierarchy_wrapper table tbody tr:last-child td {
    border-bottom: 0px;
}

.hierarchy_wrapper table tbody tr td .add_btn {
    background-color: red;
}
.table-container {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(218, 213, 213, 0.8); 
}